.html {
	font-family: Neuzeit-Regular;
}

.landing {
	width: 100%;
}

.backgroundLanding {
	background-color: #1f4386;
	height: 100vh;
	width: 50%;
	position: absolute;
}
.containerLanding {
	position: relative;
}
.landing-left {
	height: 100vh;
	padding: 400px 0px 0px 0px;
}
.landing-left h2 {
	color: white;
	font-size: 4rem;
	font-family: Neuzeit-Black;
}

.landing-left h4 {
	color: white;
	font-size: 3rem;
	font-family: Neuzeit-Black;
}
.landing-left button:hover {
	background-color: #c4c4c4;
}
.landing-right {
	/* background-color: white; */
	height: 100vh;
}
.landing-right button {
	float: right;
	margin-top: 25px;
}
.landing-right img {
	height: 75%;
	width: auto;
	bottom: 0;
	position: absolute;
}

.aboutMe {
	width: 100%;
	background-color: #0a1e3b;
	color: white;
	height: 500px;
}

.aboutMe h1 {
	font-size: 50px;
	margin-bottom: 50px;
	font-family: Neuzeit-Black;
	margin-top: 100px;
}
.aboutMe p {
	text-align: justify;
}
.aboutMe button {
	margin-right: 10px;
}
.picOverlay {
	height: 500px;
	margin-left: 25px;
}
#picAboutMe {
	width: 250px;
	position: absolute;
	bottom: 0;
	height: auto;
}
#overlayPicABoutMe {
	width: auto;
	opacity: 25%;
	height: 90%;
	position: absolute;
	bottom: 0;
	margin-left: 35px;
}

.Power {
	background-color: #1f4386;
	height: 500px;
	padding-top: 50px;
	color: white;
}
.rowPower {
	height: 500px;
}
.Power h1 {
	font-size: 4rem;
	font-family: Neuzeit-Black;
}
.mainExperience {
	background-color: #f7ebeb;
	height: auto;
	margin-bottom: 100px;
	padding-top: 50px;
}
.mainExperience h1 {
	font-size: 4rem;
	font-family: Neuzeit-Black;
}
@font-face {
	font-family: Neuzeit-Black;
	src: url(/assets/NeuzeitBlack.otf);
}

@font-face {
	font-family: Neuzeit-Regular;
	src: url(/assets/NeuzeitRegular.otf);
}

#pointDownLottie {
	margin-top: 40%;
}

.lotties {
	display: grid;
	grid-template-columns: auto auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.lotties {
		display: grid;
		grid-template-columns: auto;
	}
}
